# Build / deps
**/node_modules/
**/target/
**/build/
**/dist/
.cache/

# Env & secrets
.env
.env.*
!**/.env.example
**/application-local.yml
**/application-secret.yml

# IDE / OS
.idea/
.vscode/
*.iml
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
